body {
    background: black;
    font-family: monospace;
    color: #fff;
    margin: 0;
}

a {
    font-family: monospace;
    color: #fff;
    font-size: 5.3vh;
}

#moving-logo {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg); }
  50% { transform: translate(-50%, -50%) rotateY(180deg) rotateX(360deg); }
  100% { transform: translate(-50%, -50%) rotateY(360deg) rotateX(0deg); }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    font-size: 5.5vh;
    color: #208c00;
}
